parameters:
	ignoreErrors:
		-
			message: "#^Class Ibexa\\\\ProductCatalog\\\\Local\\\\Persistence\\\\Legacy\\\\Common\\\\CriterionMapper\\\\AbstractCompositeCriterionMapper not found\\.$#"
			count: 1
			path: src/contracts/Persistence/CriterionMapper/AbstractCompositeCriterionMapper.php

		-
			message: "#^Class Ibexa\\\\ProductCatalog\\\\Local\\\\Persistence\\\\Legacy\\\\Common\\\\CriterionMapper\\\\AbstractFieldCriterionMapper not found\\.$#"
			count: 1
			path: src/contracts/Persistence/CriterionMapper/AbstractFieldCriterionMapper.php

		-
			message: "#^Class Ibexa\\\\Contracts\\\\ProductCatalog\\\\Values\\\\Common\\\\Query\\\\Criterion\\\\CriterionInterface not found\\.$#"
			count: 1
			path: src/contracts/Values/Query/Criterion/CriterionInterface.php

		-
			message: "#^Class Ibexa\\\\Contracts\\\\ProductCatalog\\\\Values\\\\Common\\\\Query\\\\Criterion\\\\FieldValueCriterion not found\\.$#"
			count: 1
			path: src/contracts/Values/Query/Criterion/FieldValueCriterion.php
